<%- include("../includes/header") %>
<div class="form-container">
  <div class="feedback">
    <h1>Password Reset Link is send to your email address.</h1>
    <p>Check your inbox</p>
    <p>or</p>
    <a
      href="https://mail.google.com/mail/u/0/?tab=rm&ogbl#inbox"
      target="_blank"
      >Click to open Gmail app</a
    >
    <a href="/">Go Back Home</a>
  </div>
</div>
<%- include("../includes/footer") %>
