<%- include("../includes/header") %>
<div class="form-container">
  <div class="form">
    <a href="/" class="back-btn">Back</a>
    <h1 class="title">Login here!</h1>
    <% if(errMsg.length){ %>
      <p class="alert"><%= errMsg %></p>
      <% } %>
    <form action="/login" method="post">
          <input hidden value="<%= csrfToken %>" name="_csrf" />
      <div class="mx-auto">
        <div class="form-data">
          <div>
            <label for="email">Enter Email</label>
            <input type="email" id="email" name="email" autofocus/>
          </div>
          <label for="password">Enter Password</label>
            <input type="password" id="password" name="password" />
          </div>
        </div>
        <button>Login</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/footer") %>
