<%- include("../includes/header") %>
<div class="form-container">
  <div class="form">
    <a href="/login" class="back-btn">Login</a>
    <h1 class="title">Reset Password</h1>
    <% if(errMsg.length){ %>
      <p class="alert"><%= errMsg %></p>
      <% } %>
    <form action="/reset" method="post">
          <input hidden value="<%= csrfToken %>" name="_csrf" />
      <div class="mx-auto">
        <div class="form-data">
          <div>
            <label for="email">Enter Email</label>
            <input type="email" id="email" name="email" autofocus/>
          </div>
        <button>Reset Password</button>
      </div>
    </form>
  </div>
</div>
<%- include("../includes/footer") %>
