<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Post</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="form-container">
      <div class="form">
        <h1 class="title">Add a new post here!</h1>
        <form action="/admin" method="post">
          <div class="mx-auto">
            <div class="form-data">
              <div>
                <label for="title">Enter title</label>
                <input type="text" id="title" name="title" required />
              </div>
              <div>
                <label for="description">Enter Description</label>
                <input
                  type="text"
                  id="description"
                  name="description"
                  required
                />
              </div>
              <button>Add Post</button> <br />
              <a href="/" class="back-btn">Back</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
