<%- include("./includes/header") %>
<div class="form-container">
  <div class="form">
    <a href="/" class="back-btn">Back</a>
    <h1 class="title">Add a new post here!</h1>
    <form action="/admin" method="post">
      <input hidden value="<%= csrfToken %>" name="_csrf" />
      <div class="mx-auto">
        <div class="form-data">
          <div>
            <label for="title">Enter title</label>
            <input type="text" id="title" name="title" required />
          </div>
          <div>
            <label for="title">Enter Photo</label>
            <input type="text" id="photo" name="photo" required />
          </div>
          <div>
            <label for="description">Enter Description</label>
            <textarea
              name="description"
              id="description"
              cols="21"
              rows="10"
            ></textarea>
          </div>
          <button>Add Post</button>
        </div>
      </div>
    </form>
  </div>
</div>
<%- include("./includes/footer") %>
