<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <h1 class="title">I am Home Page</h1>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum quas sed odio blanditiis recusandae ipsam magnam
        non delectus quos voluptatum sint dolore, quasi totam voluptatem, beatae adipisci ut error nihil?</p>
</body>
</html>