<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <h1>Home Page</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
    repudiandae, cum a consectetur, at fugit dolorum, corporis recusandae optio
    provident natus laboriosam nulla totam delectus ipsam repellat sed quod
    voluptates.
    <a href="/admin/create-post">Add Post</a>
  </body>
</html>
